In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [ ]:
# Have Pandas read from clipboard!

In [6]:
nfl_frame = pd.read_clipboard()

In [7]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North

In [5]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL',
       'season', 'Division'],
      dtype='object')

In [8]:
nfl_frame['Team']

0       Green Bay Packers
1          Dallas Cowboys
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
Name: Team, dtype: object

In [11]:
DataFrame(nfl_frame, columns = ['Team', 'Division', 'GP'])

                   Team   Division     GP
0     Green Bay Packers  NFC North  1,401
1        Dallas Cowboys   NFC East    947
2  New England Patriots   AFC East    949
3         Chicago Bears  NFC North  1,435
4      Baltimore Ravens  AFC North    417

In [10]:
DataFrame(nfl_frame, columns = ['Team', 'season', 'GP', 'Stadium']) # Try a column that doesnt exist

                   Team  season     GP  Stadium
0     Green Bay Packers     NaN  1,401      NaN
1        Dallas Cowboys     NaN    947      NaN
2  New England Patriots     NaN    949      NaN
3         Chicago Bears     NaN  1,435      NaN
4      Baltimore Ravens     NaN    417      NaN

In [12]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North

In [14]:
nfl_frame.head(2) # .head() default is 5 ---- .tail() to grab last rows

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East

In [23]:
# nfl_frame.ix[3]

In [24]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [25]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North,Levi's Stadium
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East,Levi's Stadium
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East,Levi's Stadium
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North,Levi's Stadium
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North,Levi's Stadium

In [27]:
nfl_frame['Stadium'] = np.arange(5)

In [28]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North,0
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East,1
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East,2
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North,3
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North,4

In [32]:
stadiums = Series(["AT&T Stadium", "Gillette"], index=[4,0])

In [33]:
stadiums

4    AT&T Stadium
0        Gillette
dtype: object

In [34]:
nfl_frame['Stadium'] = stadiums

In [35]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North,Gillette
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East,NaN
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East,NaN
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North,NaN
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North,AT&T Stadium

In [36]:
del nfl_frame['Stadium']

In [37]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,401",782,581,38,0.572,1921,NFC North
1,2,Dallas Cowboys,947,538,403,6,0.571,1960,NFC East
2,3,New England Patriots,949,529,411,9,0.562,1960,AFC East
3,4,Chicago Bears,"1,435",783,610,42,0.560,1920,NFC North
4,5,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North

In [38]:
data = {'City': ['SF', 'LA', 'NYC'], 'Population':[837000, 3880000, 840000]}

In [39]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 840000]}

In [40]:
city_frame = DataFrame(data)

In [41]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC      840000